node_modules
dist
chat/__pycache__
urjwan_app/tests/__pycache__
chat/migrations/__pycache__
notifications/__pycache__
urjwan/__pycache__
urjwan_app/__pycache__
urjwan_app/data/__pycache__
urjwan_app/management/commands/__pycache__
urjwan_app/migrations/__pycache__
