{% extends './base/base.html' %}

{% block content %}
<div class="container mx-auto mt-8">

    <div class="bg-white p-8 rounded-lg shadow-md">
        <h2 class="text-2xl font-bold mb-4 flex items-center">
            <i class="fas fa-search mr-2"></i>Search
        </h2>
        <form method="GET" action="{% url 'courses' %}" class="flex space-x-4">
            <div class="flex-grow relative">
                <label for="search" class="block text-gray-700 font-semibold mb-2">Find a course:</label>
                <input type="text" class="w-full px-4 py-2 pl-10 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
                       value="{{ search_query }}" id="search" name="search" placeholder="Enter a module code or course name">
                <i class="fas fa-search absolute left-3 top-10 text-gray-400"></i>
            </div>
            <div class="flex items-end">
                <button type="submit" class="bg-blue-500 p-2 text-white rounded hover:bg-blue-600 flex items-center">
                    <i class="fas fa-search mr-2"></i>Find
                </button>
            </div>
            {% if search_query %}
            <div class="flex items-end">
                <a href="{% url 'courses' %}"
				   class="bg-red-500 p-2 text-white rounded hover:bg-red-600 flex items-center"
				>
                    <i class="fas fa-times-circle mr-2"></i>Clear
                </a>
            </div>
            {% endif %}
        </form>
    </div>


    <div class="mt-8 bg-white p-8 rounded-lg shadow-md">
        <h2 class="text-2xl font-bold mb-6 flex items-center">
            <i class="fas fa-book-open mr-2"></i>Course Catalogue
        </h2>
        <div class="course-list">
            {% if courses %}
            <table class="w-full text-left table-auto">
                <thead>
                    <tr class="bg-gray-200">
                        <th class="px-4 py-2">Module Code</th>
                        <th class="px-4 py-2">Title</th>
                        <th class="px-4 py-2">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for course in courses %}
                    <tr class="border-t">
                        <td class="px-4 py-2"><a href="{% url 'courses.show' course.id %}">{{ course.module_code }}</a></td>
                        <td class="px-4 py-2"><a href="{% url 'courses.show' course.id %}">{{ course.title }}</a></td>
                        <td class="px-4 py-2">
                            {% if user_profile.is_instructor or course in courses_enrolled %}
                            <a class="bg-sky-600 text-white rounded hover:bg-sky-400 flex items-center" href="{% url 'courses.show' course.id %}">
                                <i class="fas fa-eye mr-2"></i>View course
                            </a>
                            {% else %}
                            <a class="bg-yellow-500 text-white rounded hover:bg-yellow-200 flex items-center" href="{% url 'enrollments.create' course.id %}">
                                <i class="fas fa-plus-circle mr-2"></i>Enroll
                            </a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p class="text-gray-600 mt-4">No courses added yet.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
