{% extends './base/base.html' %}
{% load static %}

{% block extra_head %}
<style>
    #chat-log {
        background-color: #f9f9f9;
        font-family: 'Arial', sans-serif;
        font-size: 14px;
        border-radius: 10px;
        padding: 10px;
        color: #333;
    }

    .info-message {
        font-size: 12px;
        color: #888;
        text-align: center;
    }

    .teacher-message {
        color: #2c7d2d;
        font-weight: bold;
    }

    .student-message {
        color: #2a3a8e;
    }
</style>
{% endblock %}

{% block content %}
<div class="container mx-auto mt-8">

    <div class="bg-white p-6 rounded-lg shadow-md mb-8">
        <div class="flex justify-between items-center">
            <h2 class="text-4xl font-bold text-gray-800">{{ course.module_code }} ({{ course.title }})</h2>
		{% if not user.is_authenticated %}
				<div class="">
					<h3 class="text-2xl font-semibold text-gray-700 mb-4">Course Statistics</h3>
					<p class="text-gray-700">
						<i class="fas fa-user-graduate mr-2"></i> Number of Students Enrolled:
						<span class="bg-red-500 text-white px-2 p-2 rounded-full">{{ students|length }}</span>
					</p>
					<p class="text-gray-700">
						<i class="fas fa-chalkboard-teacher mr-2"></i> Instructor:
						<span class="bg-sky-600 text-white px-2 p-2 rounded-full">{{ course.instructor.user.get_full_name }}</span>
					</p>
				</div>
		{% endif %}
            <div class="flex space-x-4">
                {% if user.is_authenticated %}
                    {% if user_profile.is_student %}
                        <a class="delete-student-btn bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600 flex items-center"
                            data-id="{{ user.id }}"
                            data-course-id="{{ course.id }}"
                            data-action="{% url 'enrollments.destroy' course.id user.id %}">
                            <i class="fas fa-sign-out-alt mr-2"></i> Withdraw
                        </a>
                    {% else %}
                    {% endif %}
                       {% if logged_in_user.userprofile.is_student and course not in logged_in_user.userprofile.courses_enrolled.all%}
						    <a href="{% url 'enrollments.create' course.id %}" class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600 flex items-center">
                            <i class="fas fa-user-plus mr-2"></i> Enroll
                        </a>
					   {% endif %}
                {% else %}
                {% endif %}
				{% if not user.is_authenticated %}
                    <a href="{% url 'login' %}?next={% url 'enrollments.create' course.id %}" class="bg-yellow-500 text-white px-4 py-2 rounded hover:bg-yellow-600 flex items-center">
                        <i class="fas fa-sign-in-alt mr-2"></i> Login to Enroll
                    </a>
				{% endif %}
            </div>
        </div>
    </div>


    <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">

        <div class="lg:col-span-2 space-y-8">
  {% if not user.is_authenticated %}

            <div class="bg-white p-8 rounded-lg shadow-md">
                <h3 class="text-2xl font-semibold text-gray-700 mb-4">Course Description</h3>
                <p class="text-gray-700">{{ course.description }}</p>
            </div>
  {% endif %}
            {% if user.is_authenticated %}

            <div class="bg-gray-100 p-8 rounded-lg shadow-md">
                <div class="flex justify-between items-center mb-4">
                    <h3 class="text-2xl font-semibold text-gray-700 flex items-center">
                        <i class="fas fa-tasks mr-2"></i> Assignments
                    </h3>
                    {% if user_profile.is_instructor %}
                    <button id="openAssignmentModalBtn" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 flex items-center">
                        <i class="fas fa-plus mr-2"></i> Add Assignment
                    </button>
                    {% endif %}
                </div>
                {% if assignments %}
                <table class="w-full text-left table-auto border-collapse border border-gray-300">
                    <thead>
                        <tr class="bg-gray-200">
                            <th class="px-4 py-2 border border-gray-300">S/N</th>
                            <th class="px-4 py-2 border border-gray-300">Assignment</th>
                            <th class="px-4 py-2 border border-gray-300">Start Date</th>
                            <th class="px-4 py-2 border border-gray-300">Due Date</th>
                            {% if user_profile.is_instructor %}<th class="px-4 py-2 border border-gray-300">Action</th>{% endif %}
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200">
                        {% for assignment in assignments %}
                        <tr class="hover:bg-gray-100">
                            <td class="px-4 py-2 border border-gray-300">{{ forloop.counter }}</td>
                            <td class="px-4 py-2 border border-gray-300">{{ assignment }}</td>
                            <td class="px-4 py-2 border border-gray-300">{{ assignment.startdate }}</td>
                            <td class="px-4 py-2 border border-gray-300">{{ assignment.deadline }}</td>
                            {% if user_profile.is_instructor %}
                            <td class="px-4 py-2 border border-gray-300">
                                <button class="delete-assignment-btn text-red-500 hover:text-red-700 flex items-center"
                                    data-id="{{ assignment.id }}" data-course-id="{{  course.id }}" data-title="{{ assignment.title }}"
									data-action-type="POST"
                                    data-action="{% url 'assignments.destroy' course.id assignment.id %}">
                                    <i class="fas fa-trash-alt mr-2"></i> Delete
                                </button>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p class="text-gray-600">No assignments added yet.</p>
                {% endif %}
            </div>


            <div class="bg-gray-100 p-8 rounded-lg shadow-md">
                <div class="flex justify-between items-center mb-4">
                    <h3 class="text-2xl font-semibold text-gray-700 flex items-center">
                        <i class="fas fa-book-open mr-2"></i> Materials
                    </h3>
                    {% if user_profile.is_instructor %}
                    <button id="openMaterialModalBtn" class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600 flex items-center">
                        <i class="fas fa-plus mr-2"></i> Add Material
                    </button>
                    {% endif %}
                </div>
                {% if materials %}
                <table class="w-full text-left table-auto border-collapse border border-gray-300">
                    <thead>
                        <tr class="bg-gray-200">
                            <th class="px-4 py-2 border border-gray-300">S/N</th>
                            <th class="px-4 py-2 border border-gray-300">Material</th>
                            {% if user_profile.is_instructor %}<th class="px-4 py-2 border border-gray-300">Action</th>{% endif %}
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200">
                        {% for material in materials %}
                        <tr class="hover:bg-gray-100">
                            <td class="px-4 py-2 border border-gray-300">{{ forloop.counter }}</td>
                            <td class="px-4 py-2 border border-gray-300"><a class="text-blue-500 hover:underline" href="{{ material.file.url }}" target="_blank">{{ material }}</a></td>
                            {% if user_profile.is_instructor %}
                            <td class="px-4 py-2 border border-gray-300">
                                <button class="delete-material-btn text-red-500 hover:text-red-700 flex items-center"
                                    data-id="{{ material.id }}"
                                    data-course-id="{{ course.id }}"
                                    data-title="{{ material.title }}"
                                    data-action="{% url 'material.destroy' course.id material.id %}">
                                    <i class="fas fa-trash-alt mr-2"></i> Delete
                                </button>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p class="text-gray-600">No materials uploaded yet.</p>
                {% endif %}
            </div>
            {% endif %}


            {% if user_profile.is_instructor %}
            <div class="bg-gray-100 p-8 rounded-lg shadow-md">
                <h3 class="text-2xl font-semibold text-gray-700 mb-4 flex items-center">
                    <i class="fas fa-comments mr-2"></i> Feedback Received
                </h3>
                {% if feedbacks %}
                <table class="w-full text-left table-auto border-collapse border border-gray-300">
                    <thead>
                        <tr class="bg-gray-200">
                            <th class="px-4 py-2 border border-gray-300">S/N</th>
                            <th class="px-4 py-2 border border-gray-300">Feedback</th>
                            <th class="px-4 py-2 border border-gray-300">Submitted Time</th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200">
                        {% for feedback in feedbacks %}
                        <tr class="hover:bg-gray-100">
                            <td class="px-4 py-2 border border-gray-300">{{ forloop.counter }}</td>
                            <td class="px-4 py-2 border border-gray-300">{{ feedback }}</td>
                            <td class="px-4 py-2 border border-gray-300">{{ feedback.timestamp }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p class="text-gray-600">No feedbacks received yet.</p>
                {% endif %}
            </div>
            {% endif %}


            {% if logged_in_user.userprofile.is_student %}
            <div class="bg-gray-100 p-8 rounded-lg shadow-md">
				<div class="flex justify-between items-center mb-4">
					<h3 class="text-2xl font-semibold text-gray-700 mb-4 flex items-center">
						<i class="fas fa-comment-dots mr-2"></i> Feedback Shared
					</h3>

				{%if logged_in_user.userprofile.is_student %}
					<button id="openFeedbackModalBtn" class="bg-yellow-500 text-white px-4 py-2 rounded hover:bg-blue-600 flex items-center">
						<i class="fas fa-plus mr-2"></i> Add Feedback
					</button>
				{% endif %}
			</div>
                {% if feedbacks_shared %}
                <table class="w-full text-left table-auto border-collapse border border-gray-300">
                    <thead>
                        <tr class="bg-gray-200">
                            <th class="px-4 py-2 border border-gray-300">S/N</th>
                            <th class="px-4 py-2 border border-gray-300">Feedback</th>
                            <th class="px-4 py-2 border border-gray-300">Submitted Time</th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200">
                        {% for feedback in feedbacks_shared %}
                        <tr class="hover:bg-gray-100">
                            <td class="px-4 py-2 border border-gray-300">{{ forloop.counter }}</td>
                            <td class="px-4 py-2 border border-gray-300">{{ feedback }}</td>
                            <td class="px-4 py-2 border border-gray-300">{{ feedback.timestamp }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p class="text-gray-600">No feedbacks shared yet.</p>
                {% endif %}
            </div>
            {% endif %}
        </div>


        <div class="space-y-8">
            {% if user.is_authenticated and course in user_profile.courses_enrolled.all %}
            <div class="bg-white p-8 rounded-lg shadow-md sticky top-4">
                <h3 class="text-xl font-semibold mb-4" id="chatroom_title">
                    <i class="fas fa-comments mr-2"></i> Live Chat
                </h3>
                <div id="chat-log" class="overflow-y-auto h-48 mb-4 border border-gray-300 rounded-lg p-2 bg-gray-50"></div>
                <input id="chat-message-input" type="text" class="w-full px-3 py-2 border border-gray-300 rounded-lg mb-2" placeholder="Type a message...">
                <button id="chat-message-submit" class="w-full bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 flex items-center justify-center" disabled>
                    <i class="fas fa-paper-plane mr-2"></i> Send
                </button>
                {{ room_name|json_script:"room-name" }}
                {{ username|json_script:"username" }}
                {{ auth_group|json_script:"auth_group" }}
                {{ user_id|json_script:"user_id" }}
            </div>

            <div class="bg-white p-8 rounded-lg shadow-md">
                <h3 class="text-xl font-semibold mb-4">
                    <i class="fas fa-users mr-2"></i> People
                </h3>
                <p class="mb-4"><strong>Instructor:</strong> {{ course.instructor.user.get_full_name }}</p>
                <table class="w-full text-left border-collapse border border-gray-300">
                    <thead>
                        <tr class="bg-gray-200">
                            <th class="px-4 py-2 border border-gray-300">Classmates/Students</th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200">
                        {% for student in students %}
                        {% if student.user != user %}
                        <tr class="hover:bg-gray-100">
                            <td class="px-4 py-2 border border-gray-300">
                                <a class="text-blue-500 hover:underline" href="{% url 'profile'  student.user.id %}">{{ student.user.get_full_name }}</a>
                                {% if user_profile.is_instructor %}
                                <button class="delete-student-btn text-red-500 hover:text-red-700 ml-2 flex items-center"
                                    data-id="{{ student.user.id }}"
                                    data-course-id="{{ course.id }}"
                                    data-action="{% url 'enrollments.destroy' course.id student.user.id %}">
                                    <i class="fas fa-user-minus mr-1"></i> (remove)
                                </button>
                                {% endif %}
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% include './modals/feedbackModal.html' %}
{% include './modals/deleteModal.html' %}
{% include './modals/assignmentModal.html' %}
{% include './modals/materialModal.html' %}
{% endblock %}

{% block extra_scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/chat.js' %}"></script>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>

    flatpickr("input[type='date']", {
        enableTime: true,
        dateFormat: "Y-m-d H:i",
    });
</script>
{% endblock %}
