{% extends './base/base.html' %}
{% load static tailwind_tags %}

{% block content %}

<div class="relative w-full h-48 bg-cover bg-center" style="background-image: url('{% static 'images/cover-photo.jpg' %}');">

    <div class="absolute left-1/2 transform -translate-x-1/2 -bottom-12">
        <div class="profile-picture-container relative">
            <div class="profile-picture border-4 border-white rounded-full overflow-hidden w-32 h-32">
                {% if user_profile.photo %}
                <img src="{{ user_profile.photo.url }}" alt="Profile Picture" class="object-cover w-full h-full">
                {% else %}
                <img src="{% static 'images/default_user.png' %}" alt="Profile Picture" class="object-cover w-full h-full">
                {% endif %}
            </div>
			{% if user_profile.user_id == user.id %}
            <div class="absolute bottom-0 right-0 bg-blue-500 text-white rounded-full p-2 cursor-pointer" id="openPhotoModalBtn">
                <i class="fas fa-camera"></i>
            </div>
			{% endif %}
        </div>
    </div>
</div>


<div class="mt-16 text-center">
    <h1 class="text-4xl font-bold">{{ user.first_name }} {{ user.last_name }}</h1>
    <p class="text-gray-600">{{ user.email }}</p>


    <div class="mt-4 flex justify-center items-center space-x-2">
            {% if user_profile.is_student %}
				<span class="inline-block bg-green-200 text-green-700 text-sm font-semibold px-3 py-1 rounded-full">
            		Student
				</span>
            {% else %}
				<span class="inline-block bg-yellow-200 text-yellow-700 text-sm font-semibold px-3 py-1 rounded-full">
            			Instructor
				</span>
            {% endif %}


        {% if viewed_user.status %}
        <span class="inline-block bg-green-100 text-green-700 text-sm font-semibold px-3 py-1 rounded-full">
            {{ viewed_user.status }}
        </span>
        {% else %}
        <span class="inline-block bg-red-100 text-red-700 text-sm font-semibold px-3 py-1 rounded-full">
            No status set
        </span>
        {% endif %}
    </div>


	{% if user_profile.user_id == user.id %}
    	<p class="mt-4 text-lg text-blue-500 cursor-pointer hover:underline" id="openStatusModalBtn">Update Status</p>
	{% endif %}
</div>


<div class="flex justify-center mt-8 px-4 space-x-4">

    {% if user.userprofile.is_student %}
    <div class="w-full md:w-1/2 p-4">
        <div class="bg-white p-8 rounded-lg shadow-lg">
            <h2 class="text-2xl font-bold text-primary">Enrolled Courses
				{% if user_profile.user_id == user.id %}
					<a href="{% url 'courses' %}" class="bg-yellow-500 text-white py-2 px-4 rounded hover:bg-yellow-600">+ Enroll</a>
				{% endif %}

			</h2>
            {% if courses_enrolled %}
            <table class="w-full text-left mt-4">
                <thead>
                    <tr class="text-gray-700 border-b-2 border-gray-200">
                        <th class="py-2">Module Code</th>
                        <th class="py-2">Title</th>
                        <th class="py-2">Teacher</th>
                    </tr>
                </thead>
                <tbody>
                    {% for enrolled in courses_enrolled %}
                    <tr class="border-t">
                        <td class="py-2"><a href="{% url 'courses.show' enrolled.id  %}" class="text-primary hover:underline">{{ enrolled.module_code }}</a></td>
                        <td class="py-2">{{ enrolled.title }}</td>
                        <td class="py-2"><a href="{% url 'profile' enrolled.instructor.user.id %}" class="text-primary hover:underline">{{ enrolled.instructor.user.get_full_name }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
				{% if is_own_profile %}
            		<p class="text-gray-600 mt-4">You have not registered for any courses. You will see your courses here once you have been registered.</p>
				{% else %}
					<p class="text-gray-600 mt-4">{{ user.get_full_name }}, have not registered for any courses. You will see your courses here once you have been registered.</p>
				{% endif %}
            {% endif %}
        </div>
    </div>
    {% endif %}


    {% if user_profile.is_instructor %}
    <div class="w-full md:w-1/2 p-4">
        <div class="bg-white p-8 rounded-lg shadow-lg">
            <h2 class="text-2xl font-bold text-primary">My Courses</h2>
            <a href="{% url 'courses.create' %}" class="bg-yellow-500 text-white py-2 px-4 rounded hover:bg-yellow-600">+ Create</a>
            {% if courses_taught %}
            <table class="w-full text-left mt-4">
                <thead>
                    <tr class="text-gray-700 border-b-2 border-gray-200">
                        <th class="py-2">Module Code</th>
                        <th class="py-2">Title</th>
                    </tr>
                </thead>
                <tbody>
                    {% for taught in courses_taught %}
                    <tr class="border-t">
                        <td class="py-2"><a href="{% url 'courses.show' taught.id  %}" class="text-primary hover:underline">{{ taught.module_code }}</a></td>
                        <td class="py-2">{{ taught.title }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p class="text-gray-600 mt-4">You have not created any courses. You will see your courses here once you have created a course.</p>
            {% endif %}
        </div>
    </div>
    {% endif %}
</div>


<div id="statusModalOverlay" class="modal-overlay">
    <div id="statusModal" class="modal">
        <h3 class="text-xl font-semibold text-gray-900 mb-4">Update Status</h3>
        <form id="statusForm" action="/update-status/" method="POST">
            {% csrf_token %}
            <div class="mb-4">
                <label for="status" class="block text-sm font-medium text-gray-700">New Status</label>
                <div class="relative">
                    <input type="text" name="status" id="status" class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-secondary focus:border-secondary" required>
                    <button type="button" id="emojiPickerBtn" class="absolute inset-y-0 right-0 px-3 flex items-center">
                        😊
                    </button>
                </div>
            </div>
            <emoji-picker class="absolute z-10 hidden"></emoji-picker>
            <div class="flex justify-end space-x-3">
                <button type="button" id="closeStatusModalBtn" class="modal-close-btn px-4 py-2 rounded hover:bg-gray-600 focus:outline-none">Cancel</button>
                <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 focus:outline-none">Save</button>
            </div>
        </form>
    </div>
</div>

<div id="photoModalOverlay" class="modal-overlay">
    <div id="photoModal" class="modal">
        <h3 class="text-xl font-semibold text-gray-900 mb-4">Change Profile Photo</h3>
        <form id="photoForm" action="{% url 'change_photo' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-4">
                <label for="photo" class="block text-sm font-medium text-gray-700">Upload New Photo</label>
                <input type="file" name="photo" id="photo" class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-secondary focus:border-secondary" required>
            </div>
            <div class="flex justify-end space-x-3">
                <button type="button" id="closePhotoModalBtn" class="modal-close-btn px-4 py-2 rounded hover:bg-gray-600 focus:outline-none">Cancel</button>
                <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 focus:outline-none">Save</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {

        $('#openStatusModalBtn').on('click', function(event) {
            event.preventDefault();
            $('#statusModalOverlay').addClass('modal-open');
        });

        $('#closeStatusModalBtn').on('click', function() {
            $('#statusModalOverlay').removeClass('modal-open');
        });


        $('#openPhotoModalBtn').on('click', function(event) {
            event.preventDefault();
            $('#photoModalOverlay').addClass('modal-open');
        });

        $('#closePhotoModalBtn').on('click', function() {
            $('#photoModalOverlay').removeClass('modal-open');
        });

        $(window).on('click', function(event) {
            if ($(event.target).hasClass('modal-overlay')) {
                $('.modal-overlay').removeClass('modal-open');
            }
        });

        // Emoji Picker for Status Modal
        const picker = document.querySelector('emoji-picker');
        const button = document.querySelector('#emojiPickerBtn');
        const input = document.querySelector('#status');

        button.addEventListener('click', (event) => {
            event.preventDefault();
            picker.classList.toggle('hidden');
            picker.style.top = `${button.offsetTop}px`;
            picker.style.left = `${button.offsetLeft + button.offsetWidth}px`;
        });

        picker.addEventListener('emoji-click', event => {
            input.value += event.detail.unicode;
            picker.classList.add('hidden');
        });
    });
</script>
{% endblock %}
