{% extends './base/base.html' %}

{% load static %}

{% block content %}
<div class="container mx-auto mt-8">

    <div class="bg-white p-8 rounded-lg shadow-md">
        <h2 class="text-2xl font-bold mb-4">Search Users</h2>
        <form method="GET" action="{% url 'users' %}" class="flex space-x-4">
            <div class="flex-grow">
                <label for="search" class="block text-gray-700 font-semibold mb-2">Find a user:</label>
                <input type="text" class="w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
                       id="search" name="search" placeholder="Enter user's name or email address">
            </div>
            <div class="flex items-end">
                <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600">Find</button>
            </div>
        </form>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 mt-8">

        {% if users %}
        {% for user in page_obj %}
        <div class="bg-white p-6 rounded-lg shadow-md flex items-center">
            <div class="mr-4">
                {% if user.userprofile.photo %}
                <img src="{{ user.userprofile.photo.url }}" alt="Profile Picture" class="w-16 h-16 rounded-full object-cover">
                {% else %}
                <img src="{% static 'images/default_user.png' %}" alt="Profile Picture" class="w-16 h-16 rounded-full object-cover">
                {% endif %}
            </div>
            <div>
                <h4 class="text-lg font-semibold">
                    <a href="/profile/{{ user.id }}" class="hover:underline {{ user.userprofile.is_instructor | yesno:'text-green-500,text-blue-500' }}">
                        {{ user.first_name }} {{ user.last_name }}
                    </a>
                </h4>
                <p class="text-gray-600">{{ user.email }}</p>
                <p class="text-xs {{ user.userprofile.is_instructor | yesno:'text-green-500,text-blue-500' }} font-semibold">
                    <i class="fas {{ user.userprofile.is_instructor | yesno:'fa-chalkboard-teacher,fa-user-graduate' }} mr-1"></i>
                    {{ user.userprofile.is_instructor | yesno:'Instructor,Student' }}
                </p>
                {% if user.userprofile.status %}
                <p class="text-sm text-gray-500 italic mt-1">
                    <i class="fas fa-info-circle mr-1"></i> Status: "{{ user.userprofile.status }}"
                </p>
                {% endif %}
                {% if user.userprofile.is_instructor %}
                <p class="text-sm text-gray-600 mt-2">
                    <i class="fas fa-book mr-1"></i> Teaching {{ user.userprofile.courses_taught.count }} {{ user.userprofile.courses_taught.count|pluralize:"course,courses" }}
                </p>
                {% elif user.userprofile.is_student %}
                <p class="text-sm text-gray-600 mt-2">
                    <i class="fas fa-book-reader mr-1"></i> Enrolled in {{ user.userprofile.courses_enrolled.count }} {{ user.userprofile.courses_enrolled.count|pluralize:"course,courses" }}
                </p>
                {% endif %}
                <a href="/profile/{{ user.id }}" class="hover:underline flex items-center mt-2 {{ user.userprofile.is_instructor | yesno:'text-green-500,text-blue-500' }}">
                    <i class="fas fa-eye mr-1"></i> Visit Profile
                </a>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p class="text-gray-600">No users found.</p>
        {% endif %}
    </div>


    <div class="mt-8 flex justify-center">
        <nav aria-label="Page navigation">
            <ul class="inline-flex items-center -space-x-px">
                {% if page_obj.has_previous %}
                <li>
                    <a href="?page={{ page_obj.previous_page_number }}" class="py-2 px-3 ml-0 leading-tight text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700">
                        Previous
                    </a>
                </li>
                {% endif %}
                {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}
                <li>
                    <a href="?page={{ i }}" aria-current="page" class="py-2 px-3 leading-tight text-blue-600 bg-blue-50 border border-gray-300 hover:bg-blue-100 hover:text-blue-700">
                        {{ i }}
                    </a>
                </li>
                {% else %}
                <li>
                    <a href="?page={{ i }}" class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">
                        {{ i }}
                    </a>
                </li>
                {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                <li>
                    <a href="?page={{ page_obj.next_page_number }}" class="py-2 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700">
                        Next
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
{% endblock %}
